@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
html,
body {
    padding: 0px;
    margin: 0px;
}
body {
    background: #F6F6F6;
    font-family: 'Source Sans Pro', sans-serif;
}
a {
    cursor: pointer;
}
h3 {
    font-size: 18px;
    margin: 10px 0px 0px 10px;
    display: inline-block;
    color: #F23C0A;
}
.popup {
    width: 350px;
    height: 400px;
    background: #F6F6F6;
    overflow-y: scroll;
}
.website-list {
    width: 100%;
}
.website-list .site {
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    position: relative;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.website-list .site .favicon,
.website-list .site .delete-icon {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 12px;
    top: 12px;
    border-radius: 2px;
    transition: transform 0.2s, opacity 0.2s, background 0.2s;
}
.website-list .site .favicon {
    opacity: 1;
}
.website-list .site .delete-icon {
    left: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    opacity: 0;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transform: scale(0.8) rotate(-10deg);
}
.website-list .site .delete-icon img {
    width: 100%;
    height: 100%;
}
.website-list .site:hover .delete-icon {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
}
.website-list .site .delete-icon:hover {
    background-color: #F23C0A;
    transform: scale(1.1);
}
.website-list .site:hover .favicon {
    opacity: 0;
}
.website-list .site .title {
    height: 20px;
    top: 10px;
    line-height: 20px;
    position: absolute;
    left: 40px;
    width: calc(70% - 40px);
}
.website-list .site .time {
    height: 20px;
    line-height: 20px;
    text-align: right;
    position: absolute;
    right: 10px;
    top: 10px;
    width: calc(30% - 10px);
}
.website-list .add-tut,
.website-list .tracked-website-count {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 0px 20px;
}
.website-list .tracked-website-count {
    margin-top: 10px;
}
.website-list .tracked-website-count[data-approaching-limit="true"] {
    color: #c0392b;
}
#add-current-site .reg-button,
#add-current-site .add-response {
    display: block;
    width: calc(60%);
    margin: 5px auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 10px 0px;
    background: rgba(0, 0, 0, 0.00);
    margin-bottom: 10px;
    box-shadow: none;
    transition: border 0.2s, color 0.2s, background 0.1s, box-shadow 0.1s;
}
#add-current-site .add-response {
    border: 1px solid #2cc36b;
    color: #2cc36b;
}
#add-current-site .reg-button:hover,
#add-current-site .reg-button:active {
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
}
#add-current-site .reg-button:active {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12) inset;
    background: rgba(0, 0, 0, 0.04);
}
